.outer_outer_container {
  width: 100vw;
  min-height: 95vh;
  height: auto;
  background-color: #e8eef1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.inner_container {
  background-color: white;
  border-radius: 10px;
  width: 100%;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: stretch;
  padding: 20px 20px;
}
.outer_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgb(233, 217, 217);
  & .company_tag {
    display: flex;
    & img {
      width: 40px;
      height: auto;
      object-fit: cover;
    }
  }
}
.company_tag {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  & img {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    object-fit: cover;
  }
  & h3 {
    color: green;
  }
}
.job_title {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  & h2 {
    color: #059aeb;
  }
  & button {
    padding: 5px 10px;
    border-radius: 5px;
  }
}

.imp_points {
  display: flex;
  justify-content: space-around;
}

.tab_container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  & h1 {
    width: 40%;
    text-align: center;
    padding: 5px;
    border: 1px solid #e6e0e0;
  }
}

.apply_button {
  padding: 10px 50px;
  border-radius: 10px;
  align-self: flex-end;
}

.summary_title {
  text-align: center;
}

.navigation_buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.edit_button {
  padding: 10px 50px;
  border-radius: 10px;
  background-color: #8fd2f1;
}
.view_all_application_button {
  padding: 10px 50px;
  border-radius: 10px;
  background-color: #008000;
}

.sub_summary_block {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 20px;
  & div {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    gap: 3px;
    & p {
      text-decoration: underline;
      font-size: 1.1rem;
    }
    & section {
      display: flex;
      gap: 20px;
      margin-top: 10px;
      flex-wrap: wrap;
      & h3 {
        background-color: rgb(143, 210, 241);
        color: rgb(18, 124, 66);
        border-radius: 50px;
        padding: 5px 10px;
      }
    }
    & textarea {
      width: 100%;
      max-width: 700px;

      border-radius: 10px;
      padding: 5px;
      margin-bottom: 10px;
      margin-top: 5px;
      resize: none;
      &:focus {
        outline: none;
      }
    }
  }
}
@media screen and (max-width: 586px) {
  .imp_points {
    display: flex;
    flex-direction: column;
    gap: 8px;
    & div {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      & div {
        display: flex;
        flex-direction: column;
        justify-self: left;
      }
    }
  }
  .tab_container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    & h1 {
      width: 33%;
      text-align: center;
      font-size: 0.9rem;
      padding: 5px;
      border: 1px solid #e6e0e0;
    }
  }
  .navigation_buttons {
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
}
