.outer_container {
  width: 100vw;
  min-height: 95vh;
  height: auto;
  background-color: #e8eef1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.inner_container {
  background-color: white;
  border-radius: 10px;
  width: 100%;
  max-width: 1100px;
  /* grid-template-columns: repeat(auto-fill,minmax(280px,1fr));
    grid-template-rows: auto; */
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: stretch;

  padding: 20px 20px;
}
.img {
  width: 50%;
  height: auto;
  border-radius: 50%;
  background-color: black;
}
.h2 {
  width: 100%;

  border-radius: 50px;
  text-align: center;
  box-shadow: inset -2px -2px 2px rgba(0, 0, 0, 0.5),
    -2px -2px 2px rgba(0, 0, 0, 0.1);
}
.table {
  width: 100%;
  text-align: left;
}
