.outer_outer_container {
  width: 100vw;
  min-height: 95vh;
  height: auto;
  background-color: #e8eef1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.inner_container {
  background-color: white;
  border-radius: 10px;
  width: 100%;
  max-width: 1100px;
  /* grid-template-columns: repeat(auto-fill,minmax(280px,1fr));
    grid-template-rows: auto; */
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: stretch;
  /* justify-items: flex-start; */
  padding: 20px 20px;
}
.outer_container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgb(233, 217, 217);
  & .company_tag {
    display: flex;
    & img {
      width: 40px;
      height: auto;
      object-fit: cover;
    }
  }
}
.company_tag {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  & img {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    object-fit: cover;
  }
  & h3 {
    color: green;
  }
}
.job_title {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  & h2 {
    color: #059aeb;
  }
  & button {
    padding: 5px 10px;
    border-radius: 5px;
  }
}

.imp_points {
  display: flex;
  justify-content: space-around;
}

.para {
  margin: 10px;
}

.apply_button {
  padding: 10px 50px;
  border-radius: 10px;
  align-self: center;
}

@media screen and (max-width: 586px) {
  .imp_points {
    display: flex;
    flex-direction: column;
    gap: 8px;
    & div {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      /* justify-content: space-between; */
      & div {
        display: flex;
        flex-direction: column;
        justify-self: left;
      }
    }
  }
}
